<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PopPrintConfig" type="PopPrint.CustomConfiguration, PopPrint"/>
  </configSections>
  
  <PopPrintConfig>
    <SystemConfigSection>
      <add name ="ArchiveFrequency" value ="Weekly"/>
      <add name ="LogLocation" value="c:\temp"/>
      <add name ="ProfileLocation" value ="c:\temp\profile"/>
    </SystemConfigSection>
  
  </PopPrintConfig>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>